@model Chef
<h3 class="text-center">Add a Chef</h3>
<hr>

<form asp-controller="Chef" asp-action="CreateChef" method="POST">
    <div class="mb-3">
        <label asp-for="FirstName"></label>
        <span
            asp-validation-for="FirstName"
            class="text-danger font-weight-bold"
        ></span>
        <input asp-for="FirstName" class="form-control">
    </div>

    <div class="mb-3">
        <label asp-for="LastName"></label>
        <span
            asp-validation-for="LastName"
            class="text-danger font-weight-bold"
        ></span>
        <input asp-for="LastName" class="form-control">
    </div>

    <div class="mb-3">
        <label asp-for="DOB"></label>
        <span
            asp-validation-for="Age"
            class="text-danger font-weight-bold"
        ></span>
        <input asp-for="DOB" class="form-control">
    </div>

    <button class="btn btn-outline-primary">Add Chef</button>
</form>