<div class="container">
    <div class="row mt-5">
        <div class="col-md">
            @await Html.PartialAsync("_Register")
        </div>

        <div class="col-md">
            @await Html.PartialAsync("_Login")
        </div>
    </div>

</div>