<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/styles.css">
    <title>Projects</title>
</head>
<body>
    <div id="links">
        <a href="/">Home</a>
        <a href="./projects">Projects</a>
        <a href="./contact">Contact</a>
    </div>
    <h1>My Projects</h1>
    <div id = "projectdiv">
        <div class= "wholeproject">
            <img src="~/images/bee.png" alt="imgpic">
            <div class= "projectinfo">
                <h2>Project 1</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum ipsam cupiditate, vero eius obcaecati unde dolores asperiores, optio quasi ducimus voluptates aliquid minus earum nemo porro laboriosam excepturi id recusandae?</p>
            </div>
        </div>
        <div class= "wholeproject">
            <img src="~/images/bee.png" alt="imgpic">
            <div class= "projectinfo">
                <h2>Project 2</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia voluptate consequatur sint eum, cum quia maiores exercitationem molestiae temporibus iste tenetur deleniti cupiditate dignissimos facilis quis voluptatum et at modi.</p>
            </div>
        </div>
        <div class= "wholeproject">
            <img src="~/images/bee.png" alt="imgpic">
            <div class= "projectinfo">
                <h2>Project 3</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus earum quia impedit! Ex culpa quidem sapiente sunt eos, quod ratione. Architecto voluptatum amet ipsum. Itaque, soluta fuga? Sapiente, quam magni.</p>
            </div>
        </div>
    </div>
</body>
</html>