/* * {
    border: 1px dotted pink;
} */
h1 {
    background-color: red;
    color: white;
    border-radius: 7px;
    padding: 15px;
    margin: 20px;
}

body{
    width: 1200px;
    background-color: rgb(52, 52, 98)
}
main {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

a{
    color:aquamarine
}

span {
    color: rgb(143, 16, 223);
    font-weight: 520;
}
.navbox {
    display: inline-block;
    background-color: teal;
    border-radius: 25px;
    /* height: 280px; this is not needed because of the align-items: flex-start that was set in main */
    padding: 15px;
    margin-right: 20px;
    margin-left: 10px;
    width: 690px;
}

.navList {
    margin: 0px;
    color: white;
}
.jsOverviewnav{
    margin-left: 30px;
    list-style-type: circle;
}

.information {
    display: inline-block;
    color: white;
    background-color: rgb(4, 4, 32);
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 16px;
}

.jsBasicsul {
    padding-left: 25px;
}

.footTxt {
    background-color: gray;
    color: white;
    border-radius: 16px;
    padding: 20px;
}